body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-color: rgba(0, 0, 0, 0.015);
}
header .navbar{
    padding: 0px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}
header .nav-content .iconos .navbar-nav {
    display: flex;
    flex-direction: row;
}
header .nav-content .iconos .navbar-nav li a{
    padding: 15px;
}
.nav-content .iconos .icono{
    color: #777777;
}
.nav-content .search .text-search {
    margin: 0px 10px 0;
    min-width: 200px;
    text-align: center;
}
.search .text-search:focus {
    text-align: justify;
}
.nav-content .lg,
.nav-content .search,
.nav-content .iconos {
    margin-left: 15px;
    margin-right: 15px;
}
.nav-content .lg .logo {
    width: 38px;
    padding-bottom: 10px;
    padding-top: 10px;
}
.nav-content .iconos .icono {
    font-size: 28px;
}
.nav-content .iconos .icono:hover {
    color: #f7014c;
}
#logo:hover {
    cursor: pointer;
}
.nav-content {
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.1);
    min-height: 65px;
    background-color: rgba(255, 255, 255, 1);
}
/* ----- AQUI RESPONSIVE DEL MENU --------- */
@media screen and (min-width: 576px){
    header .navbar .container {
        max-width: 1000px;
    }
}
@media screen and (max-width: 600px) {
    .container {
      height: 80px;
      padding-top: 10px;
    }
    .nav-content .search .text-search {
        margin: 0px 10px 0;
        min-width: 200px;
        height: 40px;
    }
    .nav-content .lg,
    .nav-content .search,
    .nav-content .iconos {
        margin-left: 10px;
        margin-right: 10px;
    }
}
@media screen and (max-width: 522px) {
    .container {
         height: auto;
    }
    .navbar .container .lg{
        display: none;
    }
    .navbar .container .search{
        width: 80%;
        order: 1;
        margin-bottom: 7px;
    }
    .nav-content .search .text-search{
        margin: 0px;
    }
    .navbar .container .iconos{
        margin-bottom: 7px;
    }

}
/* ------------- VISTA RESULTADO DE BUSQUEDA------------ */
.resultados{  
    margin: auto;
    margin-top: 100px;
    border-radius: 3px;
    border: solid 1px rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 1);
    width: 200px;
    position: relative;
}
.cuadrito{
    position: absolute;
    right:87px;
    top: -10px;
    width: 20px;
    height: 20px;
    border: none;
    border-top: solid 1px rgba(0, 0, 0, 0.12);
    border-left: solid 1px rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    
    background-color: rgba(255, 255, 255, 1);
    /* propiedades de rotacion */
    -webkit-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
     -ms-transform: rotate(45deg);
     -o-transform: rotate(45deg);
     transform: rotate(45deg);
}
.personas .busqueda-perfil a{
    display: flex;
    padding: 10px;
    border-bottom: 1px solid rgba(184, 184, 184, 0.2);
}
.personas .busqueda-perfil a:hover{
    text-decoration: none;
     color: #007bff;
     background: #b6b6b61e;
}
.personas .busqueda-perfil .resultado-imagen img{
    width: 40px;
    border-radius: 50px;
    margin-right: 5px;
}
.personas .busqueda-perfil .resultado-nombres p{
    margin: 0;
    font-size: 14px;
    font-family: "Ubuntu";
}





/* --------- ESTILOS VISTA CONFIGURACION ------------- */
.configuracion{ 
    overflow: hidden;
    margin: auto;
    margin-top: 120px;
    width: 800px;
    border: solid 1px rgba(0, 0, 0, 0.12);
    border-radius: 3px;
    box-sizing: border-box;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 1);
    margin-bottom: 30px;
}
.opciones{
    display: flex;
}
.opciones .opcion1 {
    width: 50%;
}
.opciones .opcion1 ul{
 text-align: center;
 list-style: none;
 margin-bottom: 0px;
 padding-left: 0px;
}
.opciones .opcion1 li a{
    display: block;
    padding: 15px;
    font-size: 18px;
    color: #0D3B66;
    font-family: "AbeeZee";
    text-decoration: none;
}
.configuracion .cambiar-info{
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 20px;
}

.configuracion .cambiar-info .form-group{
    display: flex;
    justify-content: center;
    align-items: center;
}

.configuracion .cambiar-info .div-foto{
    margin-bottom: 25px;
}
.configuracion .cambiar-info .form-group .foto-perfil img{
    width: 80px;
    border-radius: 125px;
    margin-right: 10px;
}

.configuracion .cambiar-info .form-group .editar-foto p{
    margin: 0;
}
.configuracion .cambiar-info .form-group .editar-foto a:hover{
    text-decoration: none;
}
.configuracion .cambiar-info .form-group .info{
    margin-right: 20px;
    font-family: "AbeeZee";
    width: 15%;
}
.configuracion .cambiar-info .form-group .form-control{
    padding: 5px;
}
.configuracion .cambiar-info .form-group .form-control:focus{
    border-color: #ccc;
    /* box-shadow: 0 0 0 0.1rem rgba(6, 81, 243, 0.3); */
    box-shadow: 0 0 0 0.1rem rgba(19, 245, 139, 0.3);
}
.configuracion .cambiar-info .form-group .entrada{
    width: 60%;
}
.configuracion .confirmacion{ 
    display: flex;
    justify-content: center;
    padding: 20px;
}
.configuracion .confirmacion .btn{
    font-family: "AbeeZee";
    color: #fff;
    background: #2BBBAD;
    border: none;
    border-radius: 7px;
}
.configuracion .confirmacion .btn:focus{
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255);
}
.configuracion .confirmacion .btn:hover{
    color: #fff;
	background-color: #18ab9d;
}
.configuracion .confirmacion .btn:active{
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
/* -----RESPONSIVE PARA LA VISTA CONFIGURACION ------ */
@media screen and (max-width: 800px){
    .configuracion{
        width: auto;
        border-right: 0px;
        border-left: 0px;
        border-radius: 0px;
    }
}
@media screen and (max-width: 595px){
    .configuracion .cambiar-info .form-group .info{
        margin-right: 15px;
        font-family: "AbeeZee";
        width: 20%;
    }
    .configuracion .cambiar-info{
        padding-right: 15px;
        padding-left: 15px;
    }
    
}
@media screen and (max-width: 522px){
    .configuracion .cambiar-info .form-group{
        display: flex;
        flex-direction: column;
    }
    .configuracion .cambiar-info .form-group .info{
        width: 80%;
    }
    .configuracion .cambiar-info .form-group .entrada{
        width: 85%;
    }
    .configuracion .cambiar-info .form-group .editar-foto{
        text-align: center;
    }

}

