/*
    Theme Color or Dalton's favority color:

    color: rgb(247, 1, 76);
    color: #F7014C;

*/

body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    background-color: rgba(0, 0, 0, 0.03);
}

.container {
    display: flex;
    justify-content: space-between;
   /* background-size: 100vw; */
}

.nav-content .search .text-search {
    margin: 15px 10px 0;
    min-width: 200px;
    text-align: center;
}

.search .text-search:focus {
    text-align: justify;
}

.nav-content .lg,
.nav-content .search,
.nav-content .iconos {
    margin-left: 15px;
    margin-right: 15px;
}

.nav-content .lg .logo {
    width: 38px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.nav-content .iconos .icono {
    font-size: 28px;
}

.nav-content .iconos .icono:hover {
    color: #f7014c;
}

#logo:hover {
    cursor: pointer;
}

@media screen and (max-width: 780px) {
    header .nav-content .iconos .navbar-nav {
        display: flex;
        flex-direction: row;
    }
}

@media screen and (max-width: 600px) {
    .container {
      height: 80px;
     padding-top: 10px;
       /* background-size: 100vw; */
    }
    .nav-content .search .text-search {
        margin: 15px 10px 0;
        min-width: 200px;
        height: 40px;
    }
    .nav-content .lg,
    .nav-content .search,
    .nav-content .iconos{
    margin-left: 10px;
    margin-right: 10px;
    }
}

/*---------------------------------------------------------------------------------------------------*/

/*html {
    margin: 0;
    -webkit-margin: 0;
}*/

.nav-content {
    /*width: 100vw;*/
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.15);
    min-width: 540px;
    min-height: 65px;
    background-color: rgba(255, 255, 255, 1);
}

.container section { 
    width: 90%;
    height: 95%;
    /*background-color: rgba(0, 0, 0, 0.05);
    border: solid 1px rgba(0, 0, 0, 0.5);*/
}

.container .main {
    width: 50vw;
    height: 100%;
    /*background-color: rgba(155, 155, 155, 1);*/
    /*border: solid 1px rgba(0, 0, 0, 0.5);*/
}

.main-content main section { 
    width: 85%;
    height: 95%;
    /*background-color: rgba(0, 0, 0, 0.05);
    border: solid 1px rgba(0, 0, 0, 0.5);*/
}

.container section div {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.main-content {
    width: 100%;
    height: 100%;
    margin-bottom: 16px;
    padding-top: 100px;
}


@media (min-width: 720px){ 
    .main-content {
        padding-top: 100px;
    }
}

.left-aside,
.right-aside {
    width: 25%;
    /*height: 100%; */
    border-radius: 5px;

    /* Este elemento estan horribles pero no tuve de otra */
    position: fixed;
}

.left-aside {
    float: left;
} 

.right-aside {
    float: right;
    right: 16px;
}

.left-aside {
    float: left;
} 

.left-aside section,
.right-aside section {
    width: 80%;
    /*border: solid 1px rgba(0, 0, 0, 0.1);*/
    background-color: rgba(255, 255, 255, 1);
    border: solid 1px rgba(0, 0, 0, 0.12);
    border-radius: 3px;
    box-sizing: border-box;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.1);
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
}


/*-------------------- POST ------------------------------------------------------------------------*/

.post {
    border: solid 1px rgba(0, 0, 0, 0.12);
    border-radius: 3px;
    box-sizing: border-box;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 1);
    margin-bottom: 30px;
}

.header-post {
    padding: 10px;
    box-sizing: border-box;
    display: inline-flex;
    /*justify-content: flex-start;*/
    align-items: center;
}

.div-img-profile {
    /*margin-bottom: 10px;*/
}

.img-profile {
    width: 50px;
    height: 50px;
    border: solid 1px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border-radius: 50%;
    margin-right: 15px;
}

.div-user a {
    /*margin-left: 10px;*/
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 14px;
    /*font-weight: bold;*/
}

.div-user p {
    color: rgba(0, 0, 0, 0.5);
    font-size: 13px;
    margin: 0px;
    padding: 0px;
}

.div-text-post p {
    padding-left: 10px;
    padding-right: 10px;
}

.div-img-post {
    width: 100%;
    max-height: 500px;
    min-height: 350px;
    border-top: solid 1px rgba(0, 0, 0, 0.1);
    border-bottom: solid 1px rgba(0, 0, 0, 0.1);
    /*background-color: rgba(0, 0, 0, 0.08);*/
}

.img-post {
    width: 100%;  
    max-height: 500px;
    min-height: 350px;
    height: 
    /*background-color: rgba(0, 0, 0, 0.5);*/
}

.div-footer {
    padding: 10px;
    box-sizing: border-box;
}

.section-like-comment {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    margin-bottom: 5px;
}

.icon-post {
    font-size: 25px;
    /*color: rgb(247, 1, 76);*/
    color: rgba(0, 0, 0, 0.8);
    margin-right: 15px;
}

.div-likes a {
    padding-left: 10px;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.div-comments ul {
    margin-top: 10px;
}

.div-comments ul li {
    padding-left: 10px;
    padding-bottom: 5px;
}

/*.div-form-comment {
    margin: 0px;
    padding: 0px;
}

.form-comment {
    margin: 0px;
    padding: 0px;
}*/

.div-form-comment .hl {
    margin-top: 0.5em;
    margin-bottom: 0.2em;
    margin-left: 10px;
    margin-right: 10px;
    border-width: 1px;
}

.textarea-comment { 
    width: 91%;
    max-width: 91%;
    min-width: 91%;
    resize: none;
    padding: 10px;
    margin: 0px;
    box-sizing: border-box;
    border: solid 1px rgba(0, 0, 0, 0.1);
    border-style: none;
    border-color: Transparent;
    overflow: auto;
    outline: none;

    overflow: hidden;
}

.form-comment button {
    margin: 0px;
    padding-right: 15px;
    padding-top: 10px;
    /*padding-top: 0px;*/
    /*padding-bottom: 10px;*/
    background-color: rgba(0, 0, 0, 0);
    border: none;
    box-sizing: border-box;
    position: relative;
    float: right;
}

.icon-comment {
    font-size: 25px;
}

/* Extra */

.div-comments ul li a {
    margin-right: 5px;
}

.form-comment button img {
    width: 25px;
    height: 25px;
}

/*-------------------- /POST -----------------------------------------------------------------------*/

/*-------------------- CHAT LIST -------------------------------------------------------------------*/

.right-aside section div h4 {
    /*margin-top: 15px;*/
    text-align: center;
    /*font-size: 20px;*/
}

.chat-sidebar ul {
    padding: 0px;
    margin: 0px;
}

.li-each-chat {
    width: 100%;
    height: 50px;
    box-sizing: border-box;
}

.li-each-chat:hover {
    background-color: rgba(0, 0, 0, 0.07);
}

.li-each-chat a {
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.div-chat-content .div-img-profile-chat {
    width: 50px;
    height: 45px;
    padding-left: 5px;
    padding-top: 2px;
    padding-bottom: 0px;
    padding-right: 2px;

}

.img-profile-chat {
    width: 40px;
    height: 40px;
    border: solid 1px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border-radius: 50%;
    /*margin-right: 15px;*/
}

.div-chat-content {
    box-sizing: border-box;
}

.div-user-chat {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*margin: 10px;*/
}

.div-user-chat span {
    margin: 5px;
}

.div-chat-content div {
    margin: 0px;
    padding: 0px;
}



/*-------------------- /CHAT LIST ------------------------------------------------------------------*/

/*-------------------- USER INFO -------------------------------------------------------------------*/

.left-aside section div h4 {
    /*margin-top: 5px;*/
    text-align: center;
}

.img-profile-user {
    width: 95px;
    height: 95px;
    border: solid 1px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border-radius: 50%;
    /*margin: 10px;*/
}

.left-aside div .username {
    /*font-size: 15px;*/
    margin-top: 0px;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.footer-user-sidebar {
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/
}

.footer-user-sidebar .hl {
    margin-top: 1em;
    margin-bottom: 0.4em;
    margin-left: 12px;
    margin-right: 12px;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.15)
}

.left-aside div .username h5 {
    margin-top: 5px;
}

.footer-user-sidebar div {
    width: 100%;
    box-sizing: border-box;
}

.footer-user-sidebar div p {
    font-size: 14px;
    text-align: center;
    margin-bottom: 0.4em;
}

.vl {
    /*margin-top: 0.5em;
    margin-bottom: 0.2em;*/
    /*margin-left: 10px;
    margin-right: 10px;*/
    border-left: solid 1px rgba(0, 0, 0, 0.15);
    /*height: 35px;*/
    /*height: 2.1em;*/
    height: 3em;
    margin-top: 5px;
    margin-bottom: 5px;

}

/*-------------------- /USER INFO ------------------------------------------------------------------*/