/*
	Theme Color or Dalton's favority color:

	color: rgb(247, 1, 76);
	color: #F7014C;
	left-in
	container-left

	XDD Qloq

*/

body {
	width: 100vw;
	height: 100vh;
	margin: 0 auto;
	display: flex;
  	justify-content: center;
	align-items: center;
	font-family: "Ubuntu";
	background-image: url('../../img/girl.jpg');
	background-size: 100vw 100vh;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.principal {
	display: flex;
	width: 70%;
	height: 80vh;
	background-color: rgba(0, 0, 0, 0.4);
	margin: 0 auto;
	/*border: solid 1px rgb();*/
	border-radius: 8px;
}
/* .principal .container-left .titulo{
	margin-bottom: 69px;
} */

/* .principal .container-left{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
} */

.container-left {
	display: flex;
	flex-direction: column;
    justify-content: space-between;
	width: 40%;
	height: 100%;
	padding: 16px;
	box-sizing: border-box; 
	background-color: rgba(0, 255, 255, 0.2);

	/* Agrega borde solo en las esquinas del lado izquierdo */
	-webkit-border-top-left-radius: 8px;
	-moz-border-radius-topleft: 8px;

	-webkit-border-bottom-left-radius: 8px;
	-moz-border-radius-bottomleft: 8px;

}


.container-right {
	/* float: right; */
	width: 60%;
	height: 100%;
	padding: 15px;
	box-sizing: border-box;
	background-color: rgba(255, 255, 255, 0.95);

	/* Agrega borde solo en las esquinas del lado derecho */
	-webkit-border-top-right-radius: 8px;
	-moz-border-radius-topright: 8px;
	
	-webkit-border-bottom-right-radius: 8px;
	-moz-border-radius-bottomright: 8px;

	display: flex;
  	justify-content: center;
	align-items: center;
}

.principal .container-left h1 {
	/*margin: 0 auto;*/
	text-align: center;
	color: rgb(255, 255, 255);
	font-family: "Istok Web";
	font-weight: 400;
    font-size: 42px;
}


.container-left .in-container-left .left-in .mensajes{

	margin-bottom: 45px;
	margin-top: 40px;
	
}


.container-left .in-container-left .left-in .mensajes h5{
	color: #FFFAFB;
}

.container-left .in-container-left .left-in .mensajes h5{
	font-size: 24px;
} 

/* .container-left .in-container-left .left-in{
	display: flex;
	justify-content: space-between;
} */


.principal .container-right .in-container-right h2 {
	margin: 0 auto;
    font-family: "Abel";
	font-weight: 400;
	color: rgba(247, 1, 76, 0.8);
    font-size: 28px;
	text-decoration: none;
	margin-bottom: 50px;
}

.principal .container-right .in-container-right h2 a {
	color: rgba(247, 1, 76, 0.8);
    text-decoration: none;
    text-decoration-style: unset;
}



/*.principal .container-left img {
	width: 75px;
	height: 75px;
}*/

.in-container-left {
	width: 80%;
	/* height: 60%; */
	margin: 0 auto;
	
	/* Se puede eliminar, solo es para marcar el area de vista */
	/* background-color: rgba(0, 0, 0, 0 .5); */
	/* border: solid 1px white; */
	border-radius: 3px;

	 display: flex; 
  	/*justify-content: flex-start;*/
	align-items: center; 
}

.in-container-right {
	width: 85%;
	height: 90%;
	margin: 0 auto;
	
	/* Se puede eliminar, solo es para marcar el area de vista */
	/* background-color: rgba(0, 0, 0, 0);
	border: solid 1px rgba(0, 0, 0, 0.5); */
	border-radius: 3px;
}
.in-container-right .olvidar{
	display: flex;
	justify-content: center;
}

.in-container-right .olvidar a{
	text-decoration: none;
	margin: 10px;
}


.in-container-right .input i{
	margin-right: 8px;
} 
.in-container-right .input{
	display: flex;
	/* margin-bottom: 20px; */
}
.in-container-right input[type="text"],
.in-container-right input[type="email"],
.in-container-right input[type="password"]{
	margin-bottom: 25px;
	
}

.in-container-right .input-r{
	display: flex;
	justify-content: space-between;
}
.in-container-right .input-r .dn{
	margin-right: 10px;
}

.in-container-right .boton{
	display: flex;
	justify-content: center;
	margin: 10px;
}

.in-container-right .boton .btn{
	font-family: "AbeeZee";
	font-size: 14px;
	width: 50%;
	border-radius: 20px;
}
.in-container-right .boton .btn2:hover{
	color: #fff;
}

.left-icon {
	font-size: 25px;
	color: rgb(255, 255, 255);
}

.principal .container-left .in-container-left li {
	margin-top: 16px;
	margin-bottom: 16px;
	margin-left: 0px;
	margin-right: 0px;
}

.principal .container-left .in-container-left p {
	width: 100%;
	font-size: 12px;
	color: rgb(255, 255, 255);
	text-align: center;
}


@media screen and (max-width: 1024px){

	.container-left .in-container-left .left-in .mensajes{

		margin-bottom: 30px;
		margin-top: 25px;
		
	}

	.container-left .in-container-left .left-in .mensajes h5{
		font-size: 18px;
	} 



}



@media screen and (max-width: 1000px){

	.principal {
		
		width: 80%;
		
	}

	.principal .container-left h1 {
		/*margin: 0 auto;*/
		text-align: center;
		color: rgb(255, 255, 255);
		font-family: "Istok Web";
		font-weight: 400;
		font-size: 38px;
	}

	.container-left .in-container-left .left-in .mensajes{

		margin-bottom: 35px;
		margin-top: 30px;
		
	}

	.container-left .in-container-left .left-in .mensajes h5{
		font-size: 20px;
	} 

}


@media screen and (max-width: 850px){

	.container-left .in-container-left .left-in .mensajes{

		margin-bottom: 25px;
		margin-top: 25px;
		
	}

	.container-left .in-container-left .left-in .mensajes h5{
		font-size: 17px;
	} 

}

@media screen and (max-width: 730px){

	.container-left{
		visibility: hidden;
	}

	/* .container-right{
		width: 100vw;
	} */

	.in-container-right{
		width: 100%;
	}

}