body {
	width: 100vw;
	height: 100vh;
	margin: 0 auto;
	display: flex;
  	justify-content: center;
	align-items: center;
	font-family: "Ubuntu";
	background-image: url('../../img/girl.jpg');
	background-size: 100vw 100vh;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.principal{
    display: flex;
    width: 70%;
    min-width: 1000px;
    height: 80%;
    background: #DAEFB3;
}

.principal .contenedor-izquierdo .titulo h1{
    text-align: center;
	color: rgb(255, 255, 255);
	font-family: "Istok Web";
	font-weight: 400;
    font-size: 42px;
}
.principal .contenedor-izquierdo .contenedor-mensajer .mensajes{
    margin-bottom: 20px;
}

.principal .contenedor-izquierdo .contenedor-mensajer .mensajes h5{
    font-size: 24px;
}

.principal .contenedor-izquierdo{
    width: 40%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(0, 255, 255, 0.2);
}

.principal .contenedor-derecho{
    width: 60%;
    padding: 15px;
}

.contenedor-derecho .formulario .input {
    display: flex;
}

.contenedor-derecho .formulario .input i{
    margin-right: 8px;
}

.contenedor-derecho .formulario input[type="text"],
.contenedor-derecho .formulario input[type="email"],
.contenedor-derecho .formulario input[type="password"]{
	margin-bottom: 25px;
	
}

.contenedor-derecho .formulario .input-r{
	display: flex;
	justify-content: space-between;
}
.contenedor-derecho .formulario .input-r .dn{
	margin-right: 10px;
}

.contenedor-derecho .formulario .boton{
	display: flex;
	justify-content: center;
	margin: 10px;
}

.contenedor-derecho .formulario .boton .btn{
	font-family: "AbeeZee";
	font-size: 16px;
	width: 50%;
	border-radius: 20px;
}
.contenedor-derecho .formulario .boton .btn2:hover{
	color: #fff;
}


.principal .contenedor-derecho .titulo-registro h2{
    margin: 0 auto;
    font-family: "Abel";
	font-weight: 400;
	color: rgba(247, 1, 76, 0.8);
    font-size: 28px;
	text-decoration: none;
	margin-bottom: 50px;
}